body {
    background: url(../images/rope_background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.nav-wrapper {
    background-color: #1c5d88;
    border-bottom: 4px solid #790211;
    min-height: 70px;
    box-shadow: 2px 2px 4px #000;
}
.brand-logo {
    height: 80px;
    margin-left: 1.5rem;
}
nav li a {
    font-size: 1.2rem;
    line-height: 70px;
}
.red {
    background: url(../images/winch-line_1920x600.jpg) no-repeat center center fixed;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.amber {
    background: url(../images/dock-line5_1920x600.jpg) no-repeat center center fixed;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.green {
    background: url(../images/wire-railing-2_1920x600.jpg) no-repeat center center fixed;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.blue {
    background: url(../images/life-line3_1920x600.jpg) no-repeat center center fixed;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.align-left {
    text-align: left;
    padding-left: 2rem;
}
.container {
    background-color: rgba(255, 255, 255, .85);
    box-shadow: 5px 5px 10px #ccc;
    padding: 30px;
}
h1, h2, h3, h4, h5 {
    font-family: 'Anton', sans-serif;
}
h1 {
    font-size: 3rem;
    margin-top: 1rem;
}
img {
    max-width: 100%;
}
.grid-container {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}
.anchor {
    display: block;
    height: 70px; /*same height as nav*/
    margin-top: -70px; /*same height as nav*/
    visibility: hidden;
}
.gray-bkgd {
    background-color: #ddd;
}
.warning {
    font-weight: bold;
    color: #790211;
}
.btn {
    background-color: #1c5d88 !important;
    background: #1c5d88 !important;
}
.input-field .prefix .active {
    color: #1c5d88;
}
.full-height {
    height: 100%;
}
  

/* media queries */
@media screen and (max-width: 640px) {
    .container {
        width: 100%;
        opacity: 1.0;
        padding: 20px;
    }
    .grid-container {
        grid-template-columns: auto;
    }
    h1, h2, h3, h4, h5 {
        color: #666;
    }

}